* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  list-style: 1;
}
.guess-box {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  position: relative;
  bottom: -9px;
  left: 300px;
}
.guess {
  border-bottom: 2px solid black;
}
